.auth {
  width: 24rem;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.125rem 0.0125rem #ccca;
  border-radius: 4px;

  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;

  .form {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 0.5rem;

    .field {
      width: 100%;

      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;

      label {
        font-size: 0.8rem;
        font-weight: 700;

        &::first-letter {
          text-transform: capitalize;
        }
      }

      input {
        width: 100%;
        padding: 0.75rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;

        ::placeholder {
          font-size: 1rem;
          color: red;
        }
      }
    }

    .form-footer {
      width: 100%;

      display: flex;
      flex-flow: column nowrap;
      gap: 0.5rem;

      .forget {
        margin: 0.25rem 0;
        font-size: 0.9rem;
        text-align: left;
        letter-spacing: -1px;

        &::first-letter {
          text-transform: capitalize;
        }

        .reset {
          color: #00f;
          text-decoration: underline;
          &::first-letter {
            text-transform: capitalize;
          }
        }
      }

      .submit {
        padding: 0.5rem;

        color: #fff;
        background-color: #bbb;
        font-size: 1rem;
        font-weight: 700;

        border: none;
        border-radius: 4px;

        cursor: not-allowed;

        &::first-letter {
          text-transform: capitalize;
        }

        &:hover {
          background-color: #aaa;
        }
      }

      .active {
        cursor: pointer;
        background-color: #26890c;
        box-shadow: 0 0.25rem 0.25px 0px #1d6709;
        transition: all 0.1s ease-in-out;

        &:hover {
          background-color: #26890c;
          box-shadow: 0 0.125rem 0.125px 0px #1d6709;
          transform: translateY(2px);
        }
      }

      .error-message {
        font-size: 0.75rem;
        text-align: left;
        color: #ff0345;
      }
    }
  }

  .seperator {
    margin: 0.75rem 0;
    width: 100%;

    .line {
      margin: 0;
      width: 100%;
    }

    .flag {
      position: absolute;
      transform: translate(-50%, -60%);
      background-color: #fff;
      font-weight: 700;
      width: 36px;
      height: 24px;
      z-index: 1;
    }
  }

  .footer {
    margin-top: 1rem;

    font-size: 0.9rem;
    letter-spacing: -1px;

    &::first-letter {
      text-transform: capitalize;
    }

    .link {
      color: #0055ff;
      text-decoration: underline;
      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
}
