.question-input {
  position: relative;
  display: flex;
  place-content: center;

  margin: 1rem 2rem;
  padding: 0.25rem 1rem;

  height: 5rem;

  background-color: #fff;

  border-radius: 4px;
  box-shadow: 0 0.25rem 0.25px 0px #cbcbcb;

  input {
    background-color: transparent;
    border: none;
    outline: none;

    padding: 0.25rem 1.5rem;

    width: 100%;
    height: 100%;

    text-align: center;

    color: #555;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .chars-hint {
    position: absolute;

    top: 0;
    right: 0.25rem;

    color: #9e9d9d;
    font-weight: 600;
  }

  .danger-hint {
    color: #c60929;
    font-weight: 900;
  }
}
