.softyhoot-title {
  padding: 0.5rem;
  border: solid 1px #333;
  border-radius: 4px;

  display: flex;
  flex-wrap: nowrap;
  place-items: center;
  gap: 0.5rem;

  // width: max-content;

  input {
    border: none;
    outline: none;

    &::placeholder {
      font-size: 0.9rem;
      font-weight: 900;
    }
  }
}
