.preview {
  height: 10rem;

  display: flex;
  flex-wrap: nowrap;
  place-items: end;

  .preview-actions {
    padding: 0.25rem;

    flex-flow: column;
    place-items: center end;

    .icon-wrapper {
      width: 25px;
      height: 25px;

      display: flex;
      place-items: center;

      cursor: pointer;

      .icon {
        margin: 0 auto;
      }

      &:hover {
        border-radius: 50%;
        background-color: #dcdcdc;
      }
    }
  }

  .previewer-wrapper {
    width: 80%;
    height: 90%;

    display: flex;
    flex-flow: column;
    place-items: start;

    .previewer-title {
      font-size: 0.75rem;
      font-weight: 600;

      width: 100%;
      overflow: hidden;
      text-wrap: nowrap;
      text-overflow: ellipsis;
    }

    .previewer-box {
      width: 100%;
      height: 80%;

      border-radius: 4px;
      background-color: #f2f2f2;

      cursor: move; // fallback
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;

      &:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
      }
    }

    .selected {
      border: 2px solid #2468ce;
    }
  }
}

.selected {
  background-color: #eaf4fc;
}
