.navbar {
  min-width: 15rem;

  .previewer-container {
    overflow: auto;
    max-height: 80dvh;
  }

  .actions {
    padding: 1rem 1.5rem;

    display: flex;
    flex-flow: column;
    gap: 0.5rem;
  }
}
