#root {
  margin: 0 auto;
  text-align: center;
}

.primary-heading {
  margin-bottom: 0.75rem;

  font-size: 1.75em;
  line-height: 1.1;
  letter-spacing: -1px;

  &::first-letter {
    text-transform: capitalize;
  }
}
