button {
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-size: 1rem;
  font-weight: 700;
  line-height: 0.9rem;
  text-transform: capitalize;
}

.primary {
  background-color: #1368ce;
  color: #fff;
  &:hover {
    background-color: #1763bf;
  }
}

.secondary {
  background-color: #f2f2f2;
  color: #333;
  &:hover {
    background-color: #e2e1e1;
  }
}

.transparent {
  background-color: transparent;
  color: #333;
  &:hover {
    background-color: #e2e1e1;
  }
}

.contained {
  padding: 0.5rem;
}

.outlined {
  padding: 0.5rem;
  border: solid 1px #444;
}

.small {
  padding: 0.5rem;
}

.medium {
  padding: 0.75rem;
}

.large {
  padding: 1rem;
}

.shadow-primary {
  box-shadow: 0 0.25rem 0.25px 0px #0e4e9b;
  transition: all ease-in-out;

  &:hover {
    box-shadow: 0 0.125rem 0.125px 0px #0e4e9b;
    transform: translateY(2px);
  }
}
.shadow-secondary {
  box-shadow: 0 0.25rem 0.25px 0px #b6b6b6;
  transition: all ease-in-out;

  &:hover {
    box-shadow: 0 0.125rem 0.125px 0px #b6b6b6;
    transform: translateY(2px);
  }
}

.disabled {
  cursor: not-allowed;
}
