.providers-stack {
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;

  .provider {
    width: 100%;
    padding: 0.5rem;
    border: solid 1px #333;
    border-radius: 4px;
    cursor: pointer;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 0.9rem;
      font-weight: 500;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
}
