.main {
  background-image: url("/assets/main-background.jpg");
  background-size: cover;

  h1 {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 0;
    padding-top: 2rem;
  }
}
