.answers-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  .answer {
    position: relative;
    display: flex;
    align-items: center;

    margin: 1rem 2rem;
    padding: 0.25rem 1rem;

    height: 7.5rem;

    background-color: #fff;

    border-radius: 5px;
    box-shadow: 0 0.25rem 0.25px 0px #cbcbcb;

    .input {
      width: 90%;
      height: 100%;

      border: none;
      outline: none;

      margin: 0.25rem 0.25rem;

      text-align: left;

      background-color: inherit;
      color: #fff;
      font-size: 1rem;
      font-weight: 600;

      &::placeholder {
        color: #fff;
      }
    }

    .chars-hint {
      position: absolute;

      top: 0;
      right: 0.25rem;

      color: #eee;
      font-weight: 600;
    }

    .danger-hint {
      color: #c60929;
      font-weight: 900;
      background-color: #fff;
      border-radius: 4px;
      padding: 0.125rem 0.125rem;
      margin-top: 0.25rem;
    }

    .container {
      display: block;
      position: absolute;

      top: 2.5rem;
      right: 3rem;

      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      /* Hide the browser's default checkbox */
      input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      /* Create a custom checkbox */
      .checkmark {
        position: absolute;

        height: 40px;
        width: 40px;
        border: 4px solid #fff;
        background-color: transparent;
        border-radius: 50%;

        /* Create the checkmark/indicator (hidden when not checked) */
        &:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Style the checkmark/indicator */
        &:after {
          top: 20%;
          left: 35%;

          width: 7.5px;
          height: 12.5px;
          border: solid white;
          border-width: 0 5px 5px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }

      /* On mouse-over, add a grey background color */
      &:hover input ~ .checkmark {
        background-color: #eee;
      }

      /* When the checkbox is checked, add a blue background */
      input:checked ~ .checkmark {
        background-color: #50ee59;
      }

      /* Show the checkmark when checked */
      input:checked ~ .checkmark:after {
        display: block;
      }
    }
  }

  .red {
    background-color: #e21b3c;
    box-shadow: 0 0.25rem 0.25px 0px #c01733;
  }

  .blue {
    background-color: #1368ce;
    box-shadow: 0 0.25rem 0.25px 0px #1059af;
  }

  .yellow {
    background-color: #d89e00;
    box-shadow: 0 0.25rem 0.25px 0px #b88700;
  }

  .green {
    background-color: #26890c;
    box-shadow: 0 0.25rem 0.25px 0px #20750a;
  }
}
