.dashboard {
  display: flex;
  gap: 1rem;

  .create-softyhoot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .create-softyhoot-actions {
      display: flex;
      gap: 0.5rem;
    }
  }
}
