.header {
  width: 100dvw;
  padding: 0 0.5rem;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  grid-column: 1 /-1;

  box-shadow: 0.25rem 0.0125rem 0.25rem 0.0125rem #ccc;
  z-index: 1;

  .subheader--0 {
    display: flex;
    flex-wrap: nowrap;
    place-items: center;
    gap: 0.5rem;
  }

  .subheader--1 {
    display: flex;
    flex-wrap: nowrap;
    place-items: center;
    gap: 0.5rem;

    .secondary--0 {
      background-color: #bfbfbf;
      color: #fff;

      &:hover {
        background-color: #a1a1a1;
      }
    }

    .seperator {
      width: 1px;
      height: 80%;
      border: 1px solid #a1a1a1;
      margin: 0 0.5rem;
    }
  }
}
